.about {
  @include center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 112px;
  padding-top: 50px;
  // Ширина элемента списка + margin*2 и умноженное на кол-во элементов в строке
  max-width: calc((262px + (20px * 2)) * 4);

  @media (max-width: $tablet-width) {
    margin-bottom: 29px;
    padding-top: 23px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 40px;
    padding: 23px 16px 0 16px;
  }
}

.about__title {
  margin-bottom: 50px;
  text-align: center;

  @media (max-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (max-width: $mobile-width) {
    letter-spacing: -0.4px;
  }
}

.about__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
