.about {
  @include center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 148px;
  padding-top: 50px;

  @media (max-width: $tablet-width) {
    margin: 0 16px 66px 16px;
    padding-top: 23px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 16px 74px 16px;
  }
}

.about__title {
  margin-bottom: 50px;
  text-align: center;

  @media (max-width: $tablet-width) {
    margin-bottom: 33px;
  }

  @media (max-width: $mobile-width) {
    letter-spacing: -1px;
    margin-bottom: 30px;
  }
}

.about__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, min-content));
  justify-content: center;
  gap: 38px;
  width: 100%;

  @media (max-width: $tablet-width) {
    gap: 38px 30px;
  }

  @media (max-width: $mobile-width) {
    gap: 34px 30px;
  }
}
