.address {
  @include center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  padding: 0 35px;

  @media (max-width: $tablet-width) {
    margin-bottom: 16px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 25px;
    padding: 0;
  }
}

.address__title {
  margin-bottom: 30px;

  @media (max-width: $tablet-width) {
    margin-bottom: 19px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 25px;
  }
}

.address__description {
  max-width: 555px;
  font-family: "opensans-regular", "Arial", sans-serif;
  font-size: 1.13rem;
  line-height: 2rem;
  letter-spacing: -0.6px;
  color: $main-color-opacity;
  margin: 0 0 38px 0;

  @media (max-width: $tablet-width) {
    max-width: 100%;
    margin-bottom: 17px;
    padding: 0 16px;
    letter-spacing: -0.7px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
    padding: 0 30px;
    line-height: 1.86rem;
  }
}

.address__map {
  display: flex;
  max-width: 957px;
  max-height: 530px;
  width: 100%;
  background-color: $background-color;
  background-image: url("../img/map/map.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: $tablet-width) {
    max-height: 555px;
    min-height: 548px;
  }

  @media (max-width: $mobile-width) {
    min-height: auto;
    height: 250px;
    background-image: url("../img/map/map-mobile.jpg");
  }
}
