.address {
  @include center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 33px;
  padding: 0 35px;

  @media (max-width: $tablet-width) {
    margin-bottom: 19px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 26px;
    padding: 0;
  }
}

.address__title {
  margin-bottom: 27px;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.address__description {
  max-width: 555px;
  font-family: "OpenSans-regular", "Arial", sans-serif;
  font-size: 1.13rem;
  line-height: 2rem;
  letter-spacing: -0.6px;
  color: $main-color-opacity;
  margin: 0 0 38px 0;

  @media (max-width: $tablet-width) {
    max-width: 100%;
    margin-bottom: 20px;
    padding: 0 16px;
    letter-spacing: -0.7px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 18px;
    padding: 0 25px;
    line-height: 1.86rem;
    letter-spacing: -1px;
  }
}

.address__map {
  display: flex;
  max-width: 957px;
  max-height: 523px;
  width: 100%;
  background-image: image-set(
    url("/img/map/map.avif") 1x,
    url("/img/map/map@2x.avif") 2x,
    url("/img/map/map.webp") 1x,
    url("/img/map/map@2x.webp") 2x,
    url("/img/map/map.jpg") 1x,
    url("/img/map/map@2x.jpg") 2x,
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: $mobile-width) {
    height: 235px;
    background-image: image-set(
      url("/img/map/map-mobile.avif") 1x,
      url("/img/map/map-mobile@2x.avif") 2x,
      url("/img/map/map-mobile.webp") 1x,
      url("/img/map/map-mobile@2x.webp") 2x,
      url("/img/map/map-mobile.jpg") 1x,
      url("/img/map/map-mobile@2x.jpg") 2x,
    );
  }
}
