.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "opensans-semibold", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.3rem;
  letter-spacing: -0.6px;
  padding: 15px;
  color: $main-color;
  background-color: $active-color;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    padding: 16px 10px 14px 10px;
  }

  &:hover,
  &:focus {
    filter: brightness(115%);
  }
}
