.button-burger {
  position: absolute;
  opacity: 0;
}

.button-burger__lines {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: $active-color;
}

.button-burger__line {
  &,
  &::before,
  &::after {
    width: 23px;
    height: 1px;
    background-color: $main-background-color;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    transition-duration: .3s;
  }

  &::before {
    transform: translateY(-6px);
  }

  &::after {
    transform: translateY(6px);
  }
}

.button-burger:checked {
  ~ .button-burger__lines{
    background-color: transparent;
  }
  ~ .button-burger__lines > .button-burger__line,
  ~ .button-burger__lines > .button-burger__line::before,
  ~ .button-burger__lines > .button-burger__line::after {
    background-color: rgba($main-color, .8);
  }

  ~ .button-burger__lines > .button-burger__line {
    height: 0;
  }

  ~ .button-burger__lines > .button-burger__line::before,
  ~ .button-burger__lines > .button-burger__line::after {
    width: 30px;
  }

  ~ .button-burger__lines > .button-burger__line::before {
    transform: rotate(45deg);
  }

  ~ .button-burger__lines > .button-burger__line::after {
    transform: rotate(-45deg);
  }
}

.button-burger:active ~ .button-burger__lines,
.button-burger:focus ~ .button-burger__lines {
  opacity: 0.8;
}
