.button-burger {
  display: none;
  justify-content: center;
  align-items: center;
  width: 49px;
  height: 49px;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: $active-color;
  transition-duration: 0.5s;

  &:hover,
  &:focus {
    filter: brightness(115%);
  }
}

.button-burger.active {
  @media (max-width: $tablet-width) {
    display: flex;
  }
}

.button-burger__line {
  position: relative;

  &,
  &::before,
  &::after {
    width: 23px;
    height: 1px;
    background-color: $main-color;
  }

  &::before,
  &::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    transition-duration: 0.3s;
  }

  &::before {
    transform: translateY(-5px);
  }

  &::after {
    transform: translateY(5px);
  }
}

.button-burger.open {
  background-color: transparent;

  .button-burger__line {
    height: 0;
    transition-duration: 0.3s;
  }

  .button-burger__line::before,
  .button-burger__line::after {
    background-color: rgba($main-color, 0.2);
    width: 30px;
    transition-duration: 0.3s;
  }

  .button-burger__line::before {
    transform: rotate(45deg);
  }

  .button-burger__line::after {
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    filter: brightness(100%);

    .button-burger__line::before,
    .button-burger__line::after {
      background-color: rgba($main-color, 0.7);
    }

    .button-burger__line {
      transform: rotate(90deg);
      transform-origin: center center;
    }
  }
}
