.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "OpenSans-semibold", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.3rem;
  padding: 15px;
  color: $main-color;
  background-color: $active-color;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    filter: brightness(115%);
  }
}