* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 32px;
  font-family: "OpenSans-light", "Arial", sans-serif;
}

body {
  position: relative;
  margin: 0;
  background: $main-background-color;
  overflow-x: hidden;
}

img {
  display: block;
  object-fit: cover;
}