$tablet-width: 1023px;
$mobile-width: 766px;

$max-width: 1166px;
$max-width-smaller: 874px;

$main-color: #000000;
$main-color-opacity: rgba($main-color, 0.7);
$main-color-more-opacity: rgba($main-color, 0.5);
$submain-color: #1f1f1f;
$middle-text-color: #48494d;
$secondary-text-color: #1c1c1c;
$contrast-color: #ffffff;
$contrast-darker-color: rgba($contrast-color, 0.7);
$active-color: #0ad9c6;

$main-background-color: $contrast-color;
$background-color: #f6f7f9;
$background-light-color: #f6f6f6;
$background-alt-color: #131314;

$inputs-border: #c9ccd4;

$button-element-color: #070707;

$error-color: rgb(241, 48, 48);
