$tablet-width: 1023px;
$mobile-width: 767px;

$max-width: 1166px;
$max-width-smaller: 874px;

$main-color: #000000;
$main-color-opacity: rgba($main-color, .7);
$main-color-more-opacity: rgba($main-color, .5);
$submain-color: #1F1F1F;
$middle-text-color: #48494D;
$secondary-text-color: #1C1C1C;
$contrast-color: #ffffff;
$contrast-darker-color: rgba($contrast-color, .7);
$active-color: #0AD9C6;

$main-background-color: $contrast-color;
$background-color: #F6F7F9;
$background-light-color: #F6F6F6;
$background-alt-color: #131314;

$inputs-border: #C9CCD4;

$button-element-color: #070707;

$error-color: rgb(241, 48, 48);
