.contacts {
  @include center;
  @include drop-list-style;
  max-width: $max-width-smaller;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, max-content));
  gap: 20px 90px;
  justify-content: center;
  justify-items: start;
  padding: 0 0 0 56px;
  margin: 0 auto 98px auto;
  font-family: "opensans-regular", "Arial", sans-serif;

  @media (max-width: $tablet-width) {
    justify-content: end;
    margin-bottom: 50px;
    padding: 0 43px;
  }

  @media (max-width: $mobile-width) {
    justify-items: center;
    justify-content: center;
    gap: 13px;
    padding: 0 16px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  font-family: "opensans-regular", "Arial", sans-serif;
  color: $main-color-more-opacity;
  text-decoration: none;

  @media (max-width: $mobile-width) {
    letter-spacing: -0.4px;
  }

  span {
    transition-duration: 0.3s;
  }

  &:hover,
  &:focus {
    outline: none;

    span {
      opacity: 0.7;
    }

    .contacts__img {
      transform: scale(1.2);
    }
  }

  &:focus span {
    opacity: 0.5;
  }
}

.contacts__link--phone {
  @media (max-width: $mobile-width) {
    margin-right: 20px;
  }
}

.contacts__img {
  margin-right: 16px;
  fill: none;
  transition-duration: 0.3s;

  @media (max-width: $mobile-width) {
    margin-right: 14px;
  }
}
