.form-section {
  @include center;
  max-width: $max-width-smaller;
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-top: -506px;
  margin-bottom: 390px;

  @media (max-width: $tablet-width) {
    justify-content: center;
    margin: 0 16px 70px 16px;
  }
}

.form-section__form {
  max-width: 330px;
}