.form {
  display: flex;
  flex-direction: column;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";
    visibility: hidden;
    width: 0;
    height: 0;
    transition: width, height 0.3s ease-in-out;
  }
}

.form.success {
  &::before,
  &::after {
    visibility: visible;
  }

  &::before {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 8px solid rgba($active-color, 0.5);
    background-color: rgba($contrast-color, 0.7);
  }

  &::after {
    width: 30px;
    height: 40px;
    top: calc(50% - 33px);
    left: calc(50% - 18px);
    transform: rotate(45deg);
    border-bottom: 8px solid rgba($active-color, 0.5);
    border-right: 8px solid rgba($active-color, 0.5);
  }
}

.form.error {
  &::before,
  &::after {
    visibility: visible;
  }

  &::before {
    content: "Ошибка";
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 20px 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid $error-color;
    border-radius: 6px;
    background-color: rgba($main-color, 0.5);
    font-family: "OpenSans-bold", "Arial", sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $contrast-color;
  }

  &::after {
    display: none;
  }
}

.form__description {
  margin: 0;
  margin-bottom: 20px;
  font-family: "OpenSans-semibold", "Arial", sans-serif;
  line-height: 1.75rem;
  color: $contrast-color;
  letter-spacing: 0.4px;
  text-align: center;

  @media (max-width: $tablet-width) {
    color: $main-color;
    font-size: 1.13rem;
    letter-spacing: -0.4px;
    margin-bottom: 33px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 17px;
  }
}

.form__field {
  margin-bottom: 20px;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    margin-bottom: 19px;
  }
}

.form__field input {
  width: 100%;
  padding: 14px 28px 7px 30px;
  border: 1px solid $inputs-border;
  border-radius: 6px;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.4px;

  @media (max-width: $mobile-width) {
    padding: 13px 20px 7px 22px;
    letter-spacing: -0.8px;
  }

  &::placeholder {
    color: rgba($secondary-text-color, 0.5);

    @media (max-width: $mobile-width) {
      letter-spacing: -0.8px;
    }
  }

  &:hover,
  &:focus {
    outline: 2px solid $active-color;

    &::placeholder {
      color: rgba($secondary-text-color, 0.8);
    }
  }
}

.form__field.error {
  outline: 2px solid $error-color;
}
