.form {
  display: flex;
  flex-direction: column;
}

.form__description {
  margin: 0;
  font-family: "OpenSans-semibold", "Arial", sans-serif;
  line-height: 1.75rem;
  text-align: center;
  color: $contrast-color;
  margin-bottom: 20px;

  @media (max-width: $tablet-width) {
    color: $main-color;
    font-size: 1.125rem;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }
}

.form__field {
  margin-bottom: 20px;
  cursor: pointer;

  input {
    width: 100%;
    padding: 12px 30px;
    border: 1px solid $inputs-border;
    border-radius: 6px;
    font-size: 1rem;
    line-height: 1.5rem;

    &::placeholder {
      color: rgba($secondary-text-color, .5);
    }

    &:hover,
    &:focus {
      outline: 2px solid $active-color;
      &::placeholder {
        color: rgba($secondary-text-color, .8);
      }
    }
  }
}