.form-section {
  display: flex;
  justify-content: flex-end;

  @media (max-width: $tablet-width) {
    justify-content: center;
    margin: 0 auto 52px auto;
    padding: 0 16px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 54px;
  }
}

.form-section__form {
  max-width: 325px;

  @media (max-width: $tablet-width) {
    max-width: 317px;
  }
}
