.form-section {
  @include center;
  max-width: $max-width-smaller;
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-top: -499px;
  margin-bottom: 338px;

  @media (max-width: $tablet-width) {
    justify-content: center;
    margin: 0 auto 50px auto;
    padding: 0 16px;
  }
}

.form-section__form {
  max-width: 325px;

  @media (max-width: $tablet-width) {
    max-width: 317px;
  }
}
