.header {
  display: flex;
  flex-direction: column;
  padding: 0 0 210px 0;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: $main-color;
  background-image: url("../img/backgrounds/main-img@2x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: $tablet-width) {
    margin-bottom: 70px;
    padding-bottom: 51px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 40px;
  }
}
