.header {
  min-height: 816px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: $main-color;
  background-image: url("../img/backgrounds/main-img@2x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: $tablet-width) {
    min-height: 333px;
    margin-bottom: 67px;
  }

  @media (max-width: $mobile-width) {
    min-height: 372px;
    margin-bottom: 65px;
  }
}
