.indexed-list {
  @include drop-list-style;
  counter-reset: steps;
}

.indexed-list__item {
  counter-increment: steps;
  display: grid;
  text-align: center;
  font-family: "opensans-regular", "Arial", sans-serif;
  font-size: 1.38rem;
  line-height: 2.13rem;
  letter-spacing: -0.6px;

  @media (max-width: $mobile-width) {
    font-size: 1.13rem;
  }

  &::before {
    font-family: "opensans-bold", "Arial", sans-serif;
    font-size: 1.75rem;
    line-height: 2.38rem;
    content: "0" counter(steps);
    color: $active-color;
    margin-bottom: 12px;

    @media (max-width: $tablet-width) {
      margin-bottom: 16px;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 10px;
    }
  }
}
