.introduce {
  @include center;
  max-width: $max-width-smaller;
  padding-bottom: 30px;

  @media (max-width: $tablet-width) {
    display: flex;
    justify-content: center;
  }
}

.introduce__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 393px;

  @media (max-width: $tablet-width) {
    margin: 0 16px;
    max-width: 470px;
    text-align: center;
  }
}

.introduce__logo {
  margin-bottom: 19px;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 23px;
    left: 20px;
    margin: 0;
  }

  @media (max-width: $mobile-width) {
    left: 17px;
  }
}

.introduce__title {
  margin-bottom: 27px;

  @media (max-width: $tablet-width) {
    margin-bottom: 18px;
    letter-spacing: -0.5px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
    line-height: 2.5rem;
  }
}

.introduce__description {
  margin: 0;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: -0.2px;
  color: $contrast-darker-color;

  @media (max-width: $tablet-width) {
    font-size: 1.13rem;
  }
}
