.introduce {
  @media (max-width: $tablet-width) {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $main-color;
    background-image: url("../img/backgrounds/main-img@2x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 70px;
    min-height: 340px;
  }

  @media (max-width: $mobile-width) {
    min-height: 390px;
  }
}

.introduce__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 393px;

  @media (max-width: $tablet-width) {
    justify-content: center;
    margin: 0 auto;
    padding: 85px 16px 30px 16px;
    max-width: 470px;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    padding-top: 80px;
  }
}

.introduce__logo {
  margin-bottom: 19px;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 23px;
    left: 20px;
    margin: 0;
  }

  @media (max-width: $mobile-width) {
    left: 17px;
  }
}

.introduce__title {
  margin-bottom: 27px;

  @media (max-width: $tablet-width) {
    margin-bottom: 18px;
    letter-spacing: -0.5px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
    line-height: 2.5rem;
  }
}

.introduce__description {
  margin: 0;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: -0.2px;
  color: $contrast-darker-color;

  @media (max-width: $tablet-width) {
    font-size: 1.13rem;
  }
}
