.main-title {
  font-family: "opensans-bold", "Arial", sans-serif;
  font-size: 2.85rem;
  line-height: 4rem;
  color: $contrast-color;
  margin: 0;

  @media (max-width: $tablet-width) {
    font-size: 1.88rem;
    line-height: 2.63rem;
  }
}
