.sub-title {
  font-family: "OpenSans-semibold", "Arial", sans-serif;
  font-size: 1.88rem;
  line-height: 1.88rem;
  color: $submain-color;
  margin: 0;

  @media (max-width: $tablet-width) {
    font-size: 1.5rem;
  }
}
