.video {
  margin-bottom: 248px;
  padding-top: 22px;
  background-color: $background-alt-color;

  @media (max-width: $tablet-width) {
    padding: 4px;
    margin-bottom: 156px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 29px;
    margin-bottom: 110px;
  }
}

.video__wrapper {
  @include center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 98px;

  @media (max-width: $tablet-width) {
    top: 66px;
  }

  @media (max-width: $mobile-width) {
    top: 50px;
    padding: 0 11px;
  }
}

.video__title {
  max-width: 370px;
  margin-bottom: 17px;
  text-align: center;
  color: $contrast-color;
  letter-spacing: -0.3px;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    letter-spacing: -1px;
  }
}

.video__description {
  max-width: 370px;
  margin: 0 0 56px 0;
  text-align: center;
  line-height: 1.75rem;
  color: $contrast-darker-color;

  @media (max-width: $tablet-width) {
    max-width: 430px;
    margin-bottom: 37px;
    letter-spacing: -0.2px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 46px;
    letter-spacing: -0.5px;
  }
}

.video__player {
  display: flex;
  position: relative;

  @media (max-width: $tablet-width) {
    margin-bottom: -23px;
  }

  @media (max-width: $mobile-width) {
    justify-content: center;
    width: 100%;
    margin-bottom: 0;
  }
}

.video__content {
  width: 100%;
  max-width: 918px;
  height: auto;
  min-height: 516px;

  @media (max-width: $tablet-width) {
    max-width: 493px;
    min-height: 276px;
  }

  @media (max-width: $mobile-width) {
    min-height: 153px;
  }
}

.video__content[poster] {
  background-image: url("/img/video/video-poster@2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video__button-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
